# Projeto Python IA: Inteligência Artificial e Previsões

### Case: Score de Crédito dos Clientes

Você foi contratado por um banco para conseguir definir o score de crédito dos clientes. Você precisa analisar todos os clientes do banco e, com base nessa análise, criar um modelo que consiga ler as informações do cliente e dizer automaticamente o score de crédito dele: Ruim, Ok, Bom

In [2]:
# Score de crédito do cliente
# Boa
# Ok
# Ruim
# !pip install scikit-learn

# Passo a Passo
# Passo 0: Entender o desafio e a empresa
# Passo 1: Importar a base de dados
import pandas as pd

tabela = pd.read_csv("clientes.csv")
display(tabela)

       id_cliente  mes  ...  emprestimo_credito emprestimo_estudantil
0            3392    1  ...                   1                     0
1            3392    2  ...                   1                     0
2            3392    3  ...                   1                     0
3            3392    4  ...                   1                     0
4            3392    5  ...                   1                     0
...           ...  ...  ...                 ...                   ...
99995       37932    4  ...                   0                     1
99996       37932    5  ...                   0                     1
99997       37932    6  ...                   0                     1
99998       37932    7  ...                   0                     1
99999       37932    8  ...                   0                     1

[100000 rows x 25 columns]

In [3]:
# Passo 2: Preparar a base de dados para inteligência artificial (IA)
display(tabela.info())

# labelencoder

from sklearn.preprocessing import LabelEncoder

codificador1 = LabelEncoder()

# profissao
# cientista - 1
# mecanico - 2
# ator - 3
# pintor - 4
# motorista - 5
# engenheiro - 6
# pedreiro - 7
tabela["profissao"] = codificador1.fit_transform(tabela["profissao"])

# mix_credito
codificador2 = LabelEncoder()
tabela["mix_credito"] = codificador2.fit_transform(tabela["mix_credito"])

# comportamento_pagamento
codificador3 = LabelEncoder()
tabela["comportamento_pagamento"] = codificador3.fit_transform(tabela["comportamento_pagamento"])

display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 19.1+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  int64
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  int64
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  int64
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(10), object(1)
memory usage: 19.1+ MB

None

In [4]:
# separar as informações da base de dados para a inteligência artificial

# separar em X e Y
# Y -> quem eu quero prever (coluna score_credito)
# X -> as outras colunas (todas as colunas que eu vou usar para fazer a previsão)
y = tabela["score_credito"]
x = tabela.drop(columns=["score_credito", "id_cliente"])

# separar em dados de treino e de teste
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3)

In [5]:
from sklearn.preprocessing import LabelEncoder

# Exemplo simples
le = LabelEncoder()
dados = ["sim", "não", "sim"]
dados_codificados = le.fit_transform(dados)

print("Dados codificados:", dados_codificados)

Dados codificados: [1 0 1]

In [ ]:
# Passo 3: Criar o modelo de IA -> prever a nota de crédito

# Árvore de Decisão -> RandomForest
# Vizinhos Próximos -> KNN

# importar o modelo
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

# criar o modelo
modelo_arvoredecisao = RandomForestClassifier()
modelo_knn = KNeighborsClassifier()

# treinar o modelo
modelo_arvoredecisao.fit(x_treino, y_treino)
modelo_knn.fit(x_treino, y_treino)

0.8253

0.7358666666666667

In [ ]:
# Passo 4: Escolher o melhor modelo

#previsoes
previsao_arvoredecisao = modelo_arvoredecisao.predict(x_teste)
previsao_knn = modelo_knn.predict(x_teste)

#acuracia
from sklearn.metrics import accuracy_score

from IPython.display import display

display(f"Acurácia Árvore de Decisão: {accuracy_score(y_teste, previsao_arvoredecisao):.1%}")
display(f"Acurácia KNN: {accuracy_score(y_teste, previsao_knn):.1%}")

'Acurácia Árvore de Decisão: 82.5%'

'Acurácia KNN: 73.6%'

In [16]:
# Passo 5: Fazer novas previsões 
# o melhor modelo é o da Árvore de Decisão

# modelo_arvoredesicao
tabela_nova = pd.read_csv("novos_clientes.csv")
display(tabela_nova)

tabela_nova["profissao"] = codificador1.fit_transform(tabela_nova["profissao"])

# mix_credito
tabela_nova["mix_credito"] = codificador2.fit_transform(tabela_nova["mix_credito"])

# comportamento_pagamento
tabela_nova["comportamento_pagamento"] = codificador3.fit_transform(tabela_nova["comportamento_pagamento"])

previsao = modelo_arvoredecisao.predict(tabela_nova)
display(previsao)

   mes  idade  ... emprestimo_credito  emprestimo_estudantil
0    1   31.0  ...                  0                      0
1    4   32.0  ...                  0                      1
2    2   48.0  ...                  1                      0

[3 rows x 23 columns]

array(['Poor', 'Good', 'Standard'], dtype=object)